.user {
    background-color: #2b3566;
    padding: 2rem;
    border: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.user img {
    width: 140px;
    height: 140px;
    border: 3px solid #644aff;
    border-radius: 50%;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location span {
    color: #FFF;
    font-weight: bold;
}

.location svg {
    fill : #FFF;
    font-size: 1.5rem;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.stats .number {
    background-color: #4ed8c7;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

.user a {
    text-align: center;
    background-color: #644aff;
    padding: 1rem;
    border-radius:5px;
    opacity: .8;
    transition: 0.3s;
}

.user a:hover{
    opacity: 1;
}




